@media only screen and (max-width: 1600px) {
  .page-wrapper {
    overflow: hidden;
  }
}

@media only screen and (max-width: 1340px) {
  .page-wrapper {
    overflow: hidden;
  }
}

@media only screen and (max-width: 1200px) {
  .main-header {
    margin: 0px !important;
  }
  .main-menu .navigation > li {
    margin-left: 20px;
  }

  .description_title img {
    display: none;
  }

  header.main-header.header-style-one .menu-area.two {
    float: none;
    margin-right: 0px;
  }

  .progress-two .percentage {
    left: 0px;
    top: 0px;
  }
  .image-box .image.shape_one {
    margin-top: 30px;
  }
  .column.count-box .inner .content .count-outer-two {
    margin: 0;
  }
  .footer-widget.links-widget {
    padding-left: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul,
  .main-menu .navigation > li > .megamenu {
    display: block !important;
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (max-width: 1023px) {
  .main-menu,
  .main-header.style-one .outer-container:before {
    display: none !important;
  }
  .menu-area .mobile-nav-toggler {
    display: block;
    padding: 10px;
  }
  .menu-area.two .mobile-nav-toggler {
    background-color: #ffffff;
  }
  .menu-area.two.bg-color .mobile-nav-toggler {
    background-color: #0e1d40;
  }

  .main-menu .navigation > li {
    margin-left: 0px;
    margin-right: 25px;
  }

  .main-header .main-box .outer-container {
    padding: 0px 20px;
  }

  header.main-header.two.header-style-one {
    padding: 0px 20px;
  }

  header.main-header.five.header-style-one {
    padding: 0px 20px;
  }

  .main-header.fixed-header .main-box,
  .tparrows,
  .testimonial-section-three .owl-dots {
    display: none;
  }

  .main-menu .navbar-collapse .navigation {
    padding-right: 30px;
  }
  header.main-header.header-style-one .menu-area.two {
    margin-right: 0px;
    padding-left: 245px;
  }
  .sponsors-section-two {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .main-menu .navigation > li {
    margin-right: 10px;
  }
  .main-menu .navbar-collapse .navigation {
    padding-right: 0px;
  }
  .about-section.two {
    padding-bottom: 100px;
  }
  .market-image-box {
    padding-left: 0px;
    margin-top: 50px;
  }
  .footer-widget.links-widget {
    padding-left: 0px;
    margin-top: 50px;
  }
  .accordion-box .accordion .accord-btn {
    padding: 21px 50px 15px 30px;
  }
  .customer_top-image {
    margin-left: 0px;
    margin-top: 50px;
  }
  .designation {
    margin-bottom: 50px;
  }
  .accordion-box {
    margin-top: 30px;
  }
  .banner-section {
    margin-bottom: 150px;
  }
  .accordion-box {
    margin-left: 0px;
  }
  .about-section.three .text-content-three {
    padding-left: 0px;
  }
  .faq-one:before {
    background-color: inherit;
  }
  .banner-carousel .slide-item .image-box .image-shape-6 {
    top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .main-menu .navbar-collapse .navigation {
    padding-right: 0px;
  }
  .features-block .inner-box {
    margin-right: 0px;
  }
  .business-impact {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 599px) {
  .contact-section .info-column .inner h2 br,
  .services-section-seven .title-box .title-column h2 br {
    display: none;
  }

  .banner-carousel .slide-item .image-box {
    padding-top: 50px;
  }

  .banner-carousel .image-box .image img {
    max-width: 100%;
  }

  .banner_shape_two {
    display: none;
  }

  .testimonial-block-two .inner-box {
    padding: 25px 25px;
  }

  .sec-title.style-two h2,
  .about-section .about-column .column-inner h2,
  .info-section .column h2,
  .page-title h1 {
    font-size: 36px;
  }

  .main-footer h2,
  .contact-section .info-column .inner h2,
  .services-section-seven .title-box .title-column h2 {
    font-size: 28px;
  }

  .page-title .bread-crumb:before {
    display: none;
  }

  .map-box .map-icon .map-detail-box {
    width: 300px;
    left: -150px;
  }

  .project-tab .product-tab-btns .p-tab-btn,
  .error-section .text {
    font-size: 16px;
  }

  .page-title .bread-crumb {
    padding-left: 0px;
  }

  .error-section .error-big-text {
    font-size: 100px;
  }

  .sponsors-section-two .sonsors_title {
    font-size: 20px;
    margin-bottom: 0;
  }

  .heading_title {
    font-size: 30px;
  }

  .logo-track .logo-box {
    padding: 10px;
    min-width: 80px;
  }

  .project-faq {
    margin-top: 30px;
  }

  .fun-facts-section .auto-container > div {
    padding: 20px 0;
  }

  header.main-header.header-style-one .menu-area.two {
    margin-right: 0px;
    padding-left: 0;
  }
  .image-box .image.shape_one {
    max-width: 400px;
  }
  .progress_bar {
    top: 6%;
    right: 54px;
    width: 350px;
  }
  .search-popup .upper-box {
    padding: 70px 30px;
  }
  .banner-carousel .slide-item .image-box .image-shape-6 {
    display: none;
  }
  .banner-carousel .slide-item .image-box .image-shape-4 img {
    margin-left: 0px;
  }
}

/* --------------------------------------------- */
/* --------------------------------------------- */

@media only screen and (max-width: 489px) {
  .default-section .column .inner .author-info {
    margin-bottom: 20px;
  }

  .default-section .about-column .inner .signature,
  .about-section .about-column .column-inner .signature {
    width: 100%;
    margin-bottom: 20px;
  }

  .accordion-box .block .acc-btn {
    font-size: 18px;
  }

  .map-box .map-icon .map-detail-box {
    width: 300px;
    left: -100px;
  }

  .video-section .inner-box .video-btn a {
    top: 27%;
    left: 40%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 22px;
  }
  .mobile-menu {
    width: 100%;
  }
  .chart-image-two img {
    bottom: 0px;
    right: 0px;
  }
}

/* --------------------------------------------- */
/* --------------------------------------------- */

@media only screen and (max-width: 414px) {
  .count-box .content {
    display: block;
  }
  .count-box .inner .content .counter-title {
    padding-left: 0px;
    text-align: center;
  }
  .count-box .inner .content .count-outer {
    margin: 0 auto;
  }
  .image-inner .inner-box .video-btn a {
    top: 23%;
    left: 36%;
  }
  .progress_bar_two {
    left: 10px;
    right: 5px;
  }
  .count-box .inner .content .counter-title.two {
    padding-top: 10px;
  }
  .services-section {
    padding-bottom: 0px !important;
  }
  .fun-facts-section .count-box .inner .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .progress_bar {
    right: 0px;
  }
}

@media only screen and (max-width: 360px) {
  .banner_shape_one {
    display: none;
  }
  .banner_shape_two {
    display: none;
  }
  .banner-section .content-box .inner h1 {
    font-size: 54px;
    line-height: 60px;
  }
  .banner_shape_two {
    display: none;
  }

  .service-style-one .inner-box {
    padding: 40px;
  }

  .accordion-box {
    margin-left: 0;
    margin-right: 0;
  }
  .section_heading_title_big {
    font-size: 25px;
    line-height: 45px;
  }
  .footer-widget.links-widget {
    padding-left: 0px;
    margin-top: 40px;
  }
  .contact-widget .form-inner .form-group input {
    padding: 17px 40px 17px 30px;
  }
  .column.count-box .inner .content .count-outer {
    margin: 0 auto;
  }
  .column.count-box .inner .content .counter-title {
    padding-left: 0;
    text-align: center;
  }
  .fun-facts-section .column .inner {
    text-align: center;
  }

  /* Home Two Responsive */
  header.main-header.header-style-one .menu-area.two {
    margin-right: 0px;
    padding-left: 50px;
  }
  .banner-carousel .image-box .image img {
    max-width: 100%;
    margin-top: 0px;
  }

  .service-style-two .inner-box .icon-box {
    top: 0px;
  }
  .service-style-two .discription-text {
    margin-top: 90px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .market-image-box {
    padding-left: 0px;
  }
  .features-block .inner-box {
    margin-right: 0px;
  }
  .progress_bar {
    top: 30%;
    right: 0px;
    width: 100%;
  }
  .sponsors-section-two .image-box {
    padding: 34px 15px 34px 55px;
  }
  .banner-carousel .content-box h2 {
    font-size: 55px;
  }
  .image-box .image-shape-6 {
    top: 140px;
    right: 0px;
  }
  .block_image_three {
    bottom: 0px;
  }

  .column.count-box .inner .content .counter-title-two {
    padding-left: 0px;
    text-align: center;
  }
  .progress_bar_two {
    left: 10px;
  }
  .image-box .image.shape_one {
    height: 490px;
    margin-top: 30px;
  }

  /* ------------------------- */
  .banner-carousel .slide-item .image-box .image-shape-6 {
    top: 15px;
    right: 15px;
  }
  .banner-carousel .slide-item .image-box {
    padding-top: 150px;
  }
  .image-box .image.shape_one {
    margin-top: 0px;
    height: 500px;
  }
}
