/* Sasen Business & Agency HTML Template */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header / Style Two / Style Three / Style Four / Style Five / Style Six
5. Main Slider
6. Services Section
7. Chart Section
8. Default Section
9. Counter Section
10. Project Section
11. Call To Action Section / Style Two
12. Price Section
13. Testimonial Section / Style Two
14. Map Section
15. Newslatter Section
16. About Section / Style Two
17. Chart Section
18. Plans Section
19. Fullwidth Section
20. Team Section
21. Clients Section
22. Project Section
23. Pricing Tab Section
24. Page Title
25. Blogs Section
26. Error Section
27. Faq's Section
28. Pricing Section / Style Two / Style Three
29. Project Masonry
30. Project FullWidth / Style Two / Style Three / Style Four
31. Team Section / Style Two / Style Three / Style Four
32. Contact Map
33. Contact Info
34. Contact Form

**********************************************/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;800;900&family=Outfit:wght@400;500;600;700;800;900&display=swap');

/***

====================================================================
  Global Settings
====================================================================

 ***/

:root {
  --theme-color: rgba(126, 188, 255, 1);
  --primary-color: #eef7ff;
  --text-color: rgba(106, 106, 106, 1);
  --title-color: rgba(17, 17, 17, 1);
  --white-color: #ffffff;
  --text-font: 'Hanken Grotesk';
  --title-font: 'Outfit';
}

body {
  font-size: 15px;
  color: #777777;
  line-height: 1.8em;
  font-weight: 400;
  background: linear-gradient(180deg, #fff6f6 0%, #ffffff 100%);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: var(--title-font);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #111111;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #6a6a6a;
}

::placeholder {
  color: #6a6a6a;
}
.theme_color {
  color: #111111;
}
p {
  position: relative;
  line-height: 1.8em;
}
.auto-container {
  position: static;
  max-width: 1290px;
  padding: 0px 15px;
  margin: 0 auto;
}
.medium-container {
  position: relative;
  max-width: 850px;
  padding: 0px 15px;
  margin: 0 auto;
}
.login-container {
  position: relative;
  max-width: 510px;
  padding: 0px 15px;
  margin: 0 auto;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.grey-bg {
  background-color: #f8fcff;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link-box.client_btn {
  text-align: left;
  margin-top: 45px;
}

.theme-btn {
  display: inline-block;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.theme-btn.three {
  padding: 14px 30px;
}

.theme-btn.four {
  padding: 9px 30px;
  margin-top: 10px;
}

.centered {
  text-align: center;
}

.theme-btn.four.btn-bg-color {
  background: linear-gradient(270deg, #cb38ff 0%, #682fff 100%);
  border: none;
  color: var(--white-color);
}

/*List Style One*/

.list-style-one {
  position: relative;
  margin: 0px 0px;
}

.list-style-one li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
}

.list-style-one li:before {
  position: absolute;
  content: '\f00c';
  left: 0px;
  top: 0px;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 300;
  font-family: 'FontAwesome';
}

.list-style-one li.cross:before {
  position: absolute;
  content: '\f00d';
  left: 0px;
  top: 0px;
  color: #e21e1e;
  font-size: 16px;
  font-weight: 300;
  font-family: 'FontAwesome';
}

/*Btn Style One*/

.btn-style-one {
  position: relative;
  line-height: 24px;
  color: #222222;
  font-size: 15px;
  font-weight: 600;
  background: none;
  display: inline-block;
  padding: 12px 40px 12px;
  border: 2px solid #e7e7e7;
  border-radius: 50px;
  text-transform: uppercase;
}

.btn-style-one:hover {
  opacity: 0.7;
  color: var(--white-color);
  border-color: #03c7d9;
  background-color: #03c7d9;
}

/*Btn Style Two*/

.btn-style-two {
  position: relative;
  line-height: 24px;
  color: var(--white-color);
  font-size: 15px;
  font-weight: 500;
  background: #03c7d9;
  display: inline-block;
  padding: 13px 40px 13px;
  border-radius: 50px;
  text-transform: uppercase;
}

.btn-style-two:hover {
  background: #ff4052;
  color: var(--white-color);
}

/*Btn Style Three*/

.btn-style-three {
  position: relative;
  line-height: 24px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  background: none;
  border-radius: 50px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 11px 38px 11px;
  text-transform: uppercase;
  border: 2px solid var(--white-color);
}

.btn-style-three:hover {
  background: #03c7d9;
  color: var(--white-color);
  border-color: #03c7d9;
}

/*Btn Style Four*/

.btn-style-four {
  position: relative;
  line-height: 24px;
  color: #03c7d9;
  font-size: 13px;
  font-weight: 500;
  background: none;
  display: inline-block;
  padding: 11px 34px 11px;
  border: 2px solid #03c7d9;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.btn-style-four:hover {
  color: var(--white-color);
  background-color: #03c7d9;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.float-bob-y {
  animation-name: float-bob-y;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob-y;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob-y;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob-y;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob-y;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

.float-bob-x {
  animation-name: float-bob-x;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob-x;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob-x;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob-x;
  -ms-animation-duration: 15s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob-x;
  -o-animation-duration: 15s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

@-webkit-keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

:root {
  --progress-bar-width: 100px;
  --progress-bar-height: 100px;
  --font-size: 30px;
}
.circular-progress {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-circle {
  position: absolute;
  width: calc(var(--progress-bar-width) - 30px);
  height: calc(var(--progress-bar-height) - 30px);
  border-radius: 50%;
  background-color: lightgrey;
}

.percentage {
  position: absolute;
  right: 155px;
  top: 34px;
  font-size: var(--font-size);
  color: rgba(30, 27, 57, 1) !important;
  line-height: 40px;
  font-weight: 700;
  font-family: 'Outfit';
}
.progress-two .percentage {
  position: relative;
  right: 0px;
  top: 0px;
  font-size: 20px;
  color: rgba(30, 27, 57, 1) !important;
  line-height: 40px;
  font-weight: 600;
  font-family: 'Outfit';
}

/***

====================================================================
	Social Icon One
====================================================================

***/

.social-icon-one {
  position: relative;
}

.social-icon-one .share {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
}

.social-icon-one li {
  position: relative;
  margin-left: 12px;
  display: inline-block;
}

.social-icon-one li a {
  position: relative;
  font-size: 18px;
  color: #333333;
  display: inline-block;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.social-icon-one li a:hover {
  color: #03c7d9;
}

/***

====================================================================
	Scroll To Top style
====================================================================

***/

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  color: var(--white-color);
  font-size: 13px;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  background: linear-gradient(270deg, #ff5f5f 0%, #ff8f8f 100%);
  display: none;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.scroll-to-top::before {
  display: none;
}

.scroll-to-top:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(255, 95, 95, 0.2);
}

.scroll-to-top:hover i {
  color: var(--white-color);
}

.centred {
  text-align: center;
}

.subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--title-color);
  font-family: var(--text-font);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.heading_title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  font-family: var(--title-font);
  color: var(--title-color);
  margin-bottom: 35px;
}

/* ----------Contact Info------------- */
.social-contact-section {
  position: relative;
  padding-top: 160px;
  z-index: 1;
}
.contact-section {
  position: relative;
  margin: 120px 0px 150px 0px;
  z-index: 1;
}
.link-box .btn-large.contact-us {
  display: block;
}
.contact-info {
  position: relative;
  z-index: 1;
}
.contact-info .info-block {
  position: relative;
  display: block;
  margin-bottom: 30px;
  border-radius: 10px;
}
.contact-info .info-block .inner-box {
  position: relative;
  display: block;
  padding: 54px 0px 54px 122px;
  line-height: 24px;
  font-size: 14px;
  color: #707070;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.contact-info .info-block .inner-box h4 {
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
}
.contact-info .info-block .inner-box .icon-box {
  position: absolute;
  left: 40px;
  top: 55px;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 64px;
  background: rgba(248, 241, 255, 1);
  font-size: 25px;
  border-radius: 50%;
}
.contact-info .info-block .inner-box .icon-box span {
  background: linear-gradient(180deg, #be37ff 0%, #6a2fff 61.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 500ms ease;
}

.contact-info .info-block .inner-box .text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 1);
}
.contact-shape-image {
  position: relative;
}
.contact-shape-image img {
  position: absolute;
  display: inline-block;
  top: -154px;
  left: 28%;
  z-index: -2;
}

.sponsors-section-two {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
}

.logo-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.logo-box {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  height: 112px;
}

.logo-box img {
  width: 104px;
  height: 35px;
  min-width: 104px;
  object-fit: contain;
  opacity: 0.85;
  transition: all 0.3s ease;
}

.logo-box img:hover {
  opacity: 1;
  transform: scale(1.15);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo-track:hover {
  animation-play-state: paused;
}
