/***

==================================================================
	Cta Section
==================================================================

***/
.cta-section {
    position: relative;
    padding: 120px 0px;
    background: linear-gradient(270deg, var(--theme-color) 0%, #9ecfff 100%);
    overflow: hidden;
    perspective: 1000px;
}
.cta-1-bg {
    position: absolute;
    top: -50px;
    left: -356px;
    right: 0px;
    bottom: -48px;
    background-size: cover;
    opacity: 0.1;
    transform-style: preserve-3d;
    will-change: transform;
    animation: float 6s ease-in-out infinite;
}
.section_heading_title_big {
    position: relative;
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 50px;
    z-index: 1;
}
.btn-1 {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    padding: 17px 35px 16px;
    text-align: center;
    z-index: 1;
    color: var(--theme-color);
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s ease;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 55px;
}
.btn-1:hover {
    color: #ffffff;
    background: transparent;
}
.btn-1:before, .btn-1:after {
    display: none;
}
.btn-1:hover:after {
    display: none;
}


/* --------------------------- */
.cta-section-two {
    position: relative;
    background-color: #19191A;
    padding: 90px 0 100px 0;
    overflow: hidden;
}

.cta-2-bg {
    position: absolute;
    top: -50px;
    left: -356px;
    right: 0px;
    bottom: -48px;
    background-size: cover;
}

@keyframes float {
    0%, 100% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    25% {
        transform: translate3d(10px, -10px, 20px) rotate(1deg);
    }
    50% {
        transform: translate3d(0, -20px, 40px) rotate(0deg);
    }
    75% {
        transform: translate3d(-10px, -10px, 20px) rotate(-1deg);
    }
}

.telegram-stats {
    margin: -30px 0 30px 0;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.telegram-stats .stats-item {
    display: inline-flex;
    align-items: center;
    margin: 0 15px;
}

.telegram-stats .stats-item:first-child {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
    display: inline-flex;
}

.telegram-stats .stats-number {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .telegram-stats {
        font-size: 14px;
    }
    
    .telegram-stats .stats-item {
        margin: 0 10px;
    }
    
    .telegram-stats .stats-number {
        font-size: 16px;
    }
}
