/***

====================================================================
	Fun Facts Section
====================================================================

***/

.fun-facts-section {
  position: relative;
  background-color: #fff;
}

.fun-facts-section .count-box {
  position: relative;
  margin-bottom: 50px;
  margin-top: 50px;
}

.fun-facts-section .count-box .inner {
  position: relative;
}

/* .count-box .inner .content .count-outer */

.count-box .content {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;
}

.count-box .inner .content .count-outer {
  position: relative;
  font-size: 30px;
  font-weight: 500;
  font-family: var(--title-font);
  background: linear-gradient(270deg, #ff5f5f 0%, #ff8f8f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  width: 110px;
  height: 110px;
  text-align: center;
  line-height: 110px;
}

.count-box .inner .content .count-outer.two {
  font-size: 60px;
  box-shadow: none;
  width: auto;
}

.count-box .inner .content .counter-title {
  position: relative;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #18181b;
  font-family: var(--title-font);
}

/* ---------------------------- */

.fun-facts-section.two {
  position: relative;
  background-color: #19191a;
  padding: 50px 10px 20px 10px;
  z-index: 2;
}
.fun-facts-section.two .count-box .counter-title {
  color: var(--white-color);
}
.fun-facts-section.two .count-outer {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.fun-facts-section.two .count-box .inner {
  position: relative;
}

/* --------- Fun Facts Three ----------- */
.fun-facts-section.three .count-outer {
  font-size: 60px;
  line-height: 48px;
  background-color: inherit;
  box-shadow: none;
  width: 33%;
  height: auto;
}
.fun-facts-section.three {
  padding: 100px 0px 70px 0px;
  border-top: 1px solid #e9e6ed;
  background-color: #fbf7ff;
}

/* ---------- Fun Facts Four ------------- */
.count-box .inner .content .count-outer-two {
  position: relative;
  font-size: 30px;
  font-weight: 500;
  font-family: var(--title-font);
  color: var(--white-color);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
  width: 110px;
  height: 110px;
  margin: 0 auto;
  text-align: center;
  line-height: 110px;
}

.count-box .inner .content .counter-title-two {
  position: relative;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  font-family: var(--title-font);
}
.count-box .inner .content .counter-title.two {
  color: var(--white-color);
}

/* ---------------------------------- */
.fun-facts-section-three {
  position: relative;
  padding-top: 150px;
}
.fun-facts-section-three .count-box .inner {
  position: relative;
}

@media (max-width: 768px) {
  .fun-facts-section .count-box {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .fun-facts-section .count-box .inner .content {
    justify-content: center;
  }
}
