/***

====================================================================
	Main Header style
====================================================================

***/

.main-header {
  position: sticky;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.main-header.header-style-one {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.98);
}
.main-header .auto-container {
  position: relative;
}
.container-fulid {
  max-width: 1760px;
  padding: 0px 15px;
  margin: 0 auto;
}
header.main-header.header-style-one .outer-container {
  padding: 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.main-header.two.header-style-one {
  padding: 0px 80px;
}
header.main-header.five.header-style-one {
  padding: 0px 80px;
}

/*Main Box*/

.header-style-one.fixed-header .main-box {
  -ms-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
}

.outer-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  justify-content: space-between;
  max-width: 1760px;
  margin: 0 auto;
}
/* .main-header.header-style-one .menu-area .search-box-btn{
	color: var(--white-color);
} */
.main-header .main-box .logo-box {
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.main-header .main-box .logo-box .logo {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.main-header .main-box .logo-box .logo img {
  max-height: 35px;
  width: auto;
  display: block;
}
.main-header .menu-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: auto;
}
.main-header .menu-area .outer-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main-header .menu-area.two .search-box-btn {
  color: #111111;
}
.main-header.header-style-one .menu-area.two .search-box-btn {
  color: var(--white-color);
}
.main-header.header-style-one .menu-area.two .search-box-btn.one {
  color: #111111;
}
.search-box-outer .search-box-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  font-size: 21px;
  color: #111111;
  line-height: 38px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  margin-top: 0px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.main-header .menu-area .search-box-outer .dropdown-menu {
  top: 65px;
  right: 0px;
  padding: 0px;
  width: 280px;
  border-radius: 0px;
  border-top: 2px solid #121212;
}
.main-header .menu-area .search-box-outer .dropdown-menu > li {
  padding: 0px;
  border: none;
  background: none;
}
.main-header .menu-area .search-panel .form-container {
  padding: 25px 20px;
}
.main-header .menu-area .search-panel .form-group {
  position: relative;
  margin: 0px;
}
.main-header .menu-area .search-panel input[type='text'],
.main-header .menu-area .search-panel input[type='search'],
.main-header .menu-area .search-panel input[type='password'],
.main-header .menu-area .search-panel select {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 24px;
  background: var(--white-color);
  padding: 7px 40px 7px 15px;
  border: 1px solid #e0e0e0;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}
.main-header .menu-area .search-panel input:focus,
.main-header .menu-area .search-panel select:focus {
  border-color: #ff4052;
}

.main-header .menu-area .search-panel .search-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #555555;
  font-size: 12px;
  background: none;
  cursor: pointer;
  line-height: 40px;
}

.main-menu {
  position: relative;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-menu .navbar-collapse {
  padding: 0px;
}

.main-menu .navigation {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-menu .navigation > li {
  position: relative;
  padding: 15px 10px;
}

.main-menu .navigation > li > a {
  position: relative;
  display: block;
  padding: 10px 0px;
  color: #2f2f2f;
  text-align: center;
  line-height: 23.45px;
  font-weight: 600;
  font-size: 16px;
  font-family: var(--text-font);
  opacity: 1;
  text-transform: capitalize;
  transition: all 500ms ease;
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a {
  color: var(--theme-color);
  opacity: 1;
}

.main-menu.three .navigation > li:hover > a,
.main-menu.three .navigation > li.current > a {
  color: #ff5f5f;
  opacity: 1;
}

.main-menu .navigation > li:hover > a:before,
.main-menu .navigation > li.current > a:before {
  width: 100%;
}

.main-menu .navigation > li.dropdown > a {
  padding-right: 18px;
}

.main-menu .navigation > li.dropdown > a:after {
  font-family: 'FontAwesome';
  content: '\f107';
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -9px;
  height: 20px;
  display: block;
  line-height: 22.8px;
  font-size: 15px;
  font-weight: 900;
  z-index: 5;
}

.main-menu .navigation > li > ul {
  position: absolute;
  left: 0px;
  top: 100%;
  width: 250px;
  z-index: 100;
  display: none;
  padding: 0px 0px;
  background: var(--white-color);
  border-top: 2px solid var(--theme-color);
  transition: all 900ms ease;
  box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  transform: translateY(20px);
}
.main-menu .navigation > li:hover > ul {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}
.main-menu .navigation > li:last-child > ul {
  left: auto;
  right: 0px;
}

.main-menu .navigation > li > ul > li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-menu .navigation > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > a {
  position: relative;
  display: block;
  padding: 12px 20px;
  line-height: 22px;
  font-weight: 600;
  font-size: 16px;
  color: var(--title-color);
  text-align: left;
  text-transform: capitalize;
  transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover > a {
  background: var(--theme-color);
  color: var(--white-color);
}

.main-menu .navigation > li > ul > li.dropdown > a:after {
  font-family: 'FontAwesome';
  content: '\f105';
  position: absolute;
  right: 10px;
  top: 12px;
  width: 10px;
  height: 20px;
  display: block;
  line-height: 21px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  z-index: 5;
}

.main-menu .navigation > li > ul > li.dropdown:hover > a:after {
  color: var(--white-color);
}

.main-menu .navigation > li > ul > li > ul {
  position: absolute;
  left: 100%;
  top: 0px;
  width: 250px;
  z-index: 100;
  display: none;
  background: var(--white-color);
  border-top: 2px solid var(--theme-color);
  -webkit-box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation > li > ul > li > ul > li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-menu .navigation > li > ul > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > ul > li > a {
  position: relative;
  display: block;
  padding: 12px 20px;
  line-height: 22px;
  font-weight: 400;
  font-size: 16px;
  color: var(--title-color);
  text-align: left;
  text-transform: capitalize;
  transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover {
  background: var(--theme-color);
  color: var(--white-color);
}

.main-menu .navigation > li.dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 0px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-menu .navigation li.dropdown .dropdown-btn {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 34px;
  height: 30px;
  border: 1px solid var(--white-color);
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  color: var(--white-color);
  cursor: pointer;
  z-index: 5;
  display: none;
}

.main-header .btn-outer {
  position: relative;
  float: right;
  padding: 24px 0px;
  margin-left: 30px;
}

.main-header .header-upper {
  position: relative;
  padding: 0px 0px;
  z-index: 5;
  overflow: hidden;
  background: var(--white-color);
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  border-bottom: 1px solid #f1f1f1;
}

/*Search form*/
.main-header .outer-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
/* -------------------------- */
.theme-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  font-family: var(--text-font);
  color: var(--title-color);
  text-align: center;
  padding: 6px 30px;
  border: 1px solid var(--title-color);
  border-radius: 55px;
  z-index: 1;
  transition: all 500ms ease;
}
.theme-btn:hover {
  color: var(--white-color);
  border: 1px solid #ff5f5f;
}
.theme-btn:before,
.theme-btn:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  z-index: -1;
  background: linear-gradient(270deg, #ff5f5f 0%, #ff8f8f 100%);
  color: var(--white-color);
  transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
}
.theme-btn:hover:before {
  width: 100%;
}
.theme-btn.four span {
  position: relative;
  margin-left: 3px;
  font-size: 12px;
  font-weight: 600;
}

/* -------------------------- */
/* Home Three Css */
/* -------------------------- */
.banner-section.home_three {
  padding-bottom: 360px;
}
.main-menu.three .navigation > li > a {
  color: var(--white-color);
}
.banner-section.home_three .content-box .inner h1 {
  color: var(--white-color);
}
.banner-section.home_three .content-box .inner h4 {
  color: var(--white-color);
}
.banner-section.home_three .content-box .inner .text {
  color: var(--white-color) 70;
}

/* -----------Home Four------------------- */
.theme-btn.btn-four {
  padding: 14px 30px;
}

/* 响应式调整 */
@media (max-width: 991px) {
  .main-header .logo-box .logo img {
    max-height: 30px;
  }

  .outer-container {
    height: 60px;
  }
}

@media (max-width: 767px) {
  .main-header .logo-box .logo img {
    max-height: 25px;
  }

  .outer-container {
    height: 50px;
    padding: 0px 20px;
  }
}

/* 主header中的logo样式 */
.main-header .logo-box {
  position: relative;
  padding: 0;
}

.main-header .logo-box .logo {
  position: relative;
  display: flex;
  align-items: center;
}

.main-header .logo-box .logo img {
  max-height: 35px;
  width: auto;
  display: block;
}

/* 统一导航菜单的位置 */
.main-header .menu-area {
  display: flex;
  align-items: center;
  height: 100%;
}

/* 响应式调整 */
@media (max-width: 991px) {
  .main-header .main-box {
    padding: 15px 0;
  }

  .outer-container {
    height: 60px;
  }

  .main-header .logo-box .logo img {
    max-height: 30px;
  }
}

@media (max-width: 767px) {
  .main-header .main-box {
    padding: 12px 0;
  }

  .outer-container {
    height: 50px;
    padding: 0px 20px;
  }

  .main-header .logo-box .logo img {
    max-height: 25px;
  }
}

@media (max-width: 768px) {
  .menu-area .search-btn {
    position: relative;
    right: auto;
    margin-right: 15px;
  }

  .menu-area .mobile-nav-toggler {
    margin-left: auto;
  }
}

/* 手机端菜单按钮 */
.menu-area .mobile-nav-toggler {
  position: relative;
  display: none;
  width: 42px;
  height: 42px;
  background: #ff5f5f;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 15px;
}

.menu-area .mobile-nav-toggler i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
}

.menu-area .mobile-nav-toggler:hover {
  background: #ff8f8f;
}

@media (max-width: 991px) {
  .menu-area .mobile-nav-toggler {
    display: block;
  }
}

/* 全新的菜单按钮样式 */
.cherry-btn {
  display: none;
  width: 44px;
  height: 44px;
  background: #ff5f5f;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 15px;
}

.cherry-btn i {
  font-size: 18px;
  color: #fff;
}

.cherry-btn:hover {
  background: #ff8f8f;
  transform: translateY(-1px);
}

.cherry-btn:active {
  transform: translateY(1px);
}

@media (max-width: 991px) {
  .cherry-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Social Icons in Header */
.social-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 10px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--theme-color);
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: translateY(-3px);
  background-color: #ff5f5f;
  color: white;
}

.social-icon img,
.social-icon svg {
  width: 20px;
  height: 20px;
  color: var(--theme-color);
}

.social-icon:hover img,
.social-icon:hover svg {
  color: white;
  filter: brightness(0) invert(1);
}
