/***

====================================================================
	Services Section
====================================================================

***/

.services-section {
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
.service-style-one {
  position: relative;
  margin-bottom: 0px;
  text-align: left;
}
.service-style-one .inner-box {
  position: relative;
  background: var(--white-color);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 50px 50px 40px 50px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.service-style-one .inner-box:hover {
  transform: translateY(-10px);
}
.service-style-one .inner-box .icon-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: 3px solid var(--primary-color);
}
.service-style-one .inner-box .icon-box img {
  display: block;
}
.service-style-one .inner-box .icon-box img[alt='对话'] {
  width: 60%;
  height: 60%;
}
.service-style-one .inner-box .icon-box img[alt='绘图'] {
  width: 48%;
  height: 48%;
}
.service-style-one .inner-box .icon-box img[alt='翻译'] {
  width: 45%;
  height: 45%;
}
.service-style-one .inner-box .icon-box img[alt='助手'] {
  width: 60%;
  height: 60%;
}
.service-style-one .inner-box .icon-box img[alt='知识库'] {
  width: 55%;
  height: 55%;
}
.service-style-one .inner-box .icon-box img[alt='备份'] {
  width: 55%;
  height: 55%;
}
.service-style-one .inner-box .icon-box .icon {
  background: linear-gradient(270deg, var(--theme-color) 0%, #A3D3FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 500ms ease;
}
.service-style-one .inner-box h3 {
  position: relative;
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
  font-family: var(--title-font);
}
.service-style-one .inner-box h3 a {
  color: #111111;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 500ms ease;
}
.service-style-one .inner-box h3 a:hover {
  color: var(--theme-color);
}
.service-style-one .inner-box .text {
  position: relative;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 20px;
}
.read-more {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  font-size: 16px;
  color: #111111;
  font-weight: 600;
  font-family: var(--text-font);
  padding: 13px 30px;
  border: 1px solid #e5e5e5;
  border-radius: 55px;
  transition: all 500ms ease;
  z-index: 1;
}
.read-more.btn-two {
  margin-top: 20px;
}
.read-more .icon {
  position: relative;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 600;
}
.read-more:hover {
  color: var(--white-color);
}
.read-more:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  z-index: -1;
  background: linear-gradient(270deg, var(--theme-color) 0%, #A3D3FF 100%);
  color: var(--white-color);
  transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
}
.read-more:hover:before {
  width: 100%;
}
.services-section .sec-title {
  margin-bottom: 50px;
}
.services-section .heading_title {
  margin-bottom: 40px;
}

.service-style-one .inner-box.service-four .read-more.btn-two {
  margin-top: 0px;
  background: linear-gradient(270deg, var(--theme-color) 0%, #A3D3FF 100%);
  color: var(--white-color);
}

/* ----------------------------- */
.service-style-two .inner-box .icon-box {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 73px;
  font-size: 35px;
  text-align: center;
  background-color: var(--white-color);
  border: 3px solid var(--white-color);
}
.service-style-two .inner-box .icon-box .icon {
  background: linear-gradient(270deg, #ff5f5f 0%, #ff8f8f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 500ms ease;
}
.service-style-two .inner-box h3 {
  position: relative;
  font-weight: 600;
  font-size: 24px;
  /* margin-top: 32px; */
  font-family: var(--title-font);
}
.service-style-two .inner-box h3 a {
  color: #111111;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.service-style-two .inner-box h3 a:hover {
  color: #ff5f5f;
}
.service-style-two .inner-box .text {
  position: relative;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}
.services-section.two .service-style-two {
  text-align: left;
}
.service-style-two .discription-text {
  padding-left: 110px;
  padding-right: 40px;
}

/* -------------------------- */
.customer-service {
  padding-top: 150px;
  padding-bottom: 150px;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

/* -------------------------- */
/* -------------------------- */
.services-section.three .heading_title {
  color: var(--white-color);
}
.services-section.three .subtitle {
  color: var(--white-color);
}
.services-section.three .description {
  position: relative;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
  color: var(--white-color) 70;
}

/* ----------Service Style Home Four------------------- */
.service-style-one .inner-box.service-four {
  padding: 40px 30px;
}

.customer_bottom-image {
  position: absolute;
  display: inline-block;
  top: 30%;
  z-index: -1;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.customer_top-image {
  margin-left: 120px;
}
.customer_top-image:before {
  position: absolute;
  top: 0;
  left: -55%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  z-index: 1;
}

.customer_top-image:hover:before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

.customer_top-image img {
  border-radius: 10px;
}

.progress_bar_two {
  display: flex;
  position: absolute;
  top: 58%;
  left: 60px;
  background-color: var(--white-color);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 10px;
  width: 330px;
  justify-content: space-between;
}

.progress_bar_two .visitor_one img {
  position: absolute;
  top: 50px;
  left: 117px;
}

/* -----------business impact Style------------------ */
.business-impact {
  margin-bottom: 100px;
}
.business-impact.two {
  padding-bottom: 80px;
}
/* ---------service details----------- */
.service-details {
  position: relative;
  padding: 150px 0px 150px;
}
.service-sidebar .question-widget .form-inner .form-group {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.service-sidebar .question-widget .form-inner .form-group:last-child {
  margin-bottom: 0px;
}
.content-three .text-box h3 {
  display: block;
  font-family: 'Outfit';
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  color: var(--title-color);
  margin-bottom: 15px;
}
.image-inner .inner-box .video-btn a {
  position: absolute;
  top: 42%;
  left: 48%;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 106px;
  text-align: center;
  font-size: 32px;
  color: #000000;
  border-radius: 50%;
  background: var(--white-color);
}
.image-inner .inner-box .video-btn a .border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  animation: squares 2.9s linear 0s infinite;
  -webkit-animation: squares 2.9s linear 0s infinite;
  -ms-animation: squares 2.9s linear 0s infinite;
  -o-animation: squares 2.9s linear 0s infinite;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
  opacity: 0;
}
.image-inner .inner-box .video-btn a .border-animation.border-2 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.image-inner .inner-box .video-btn a .border-animation.border-3 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.icon-box img {
  display: block;
  width: 50px;
  height: 50px;
  fill: #ff6262;
}
